table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

.header {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

.white {
  background-color: rgb(247, 247, 247);
}

.latex {
  display: flex;
  justify-content: left;
  margin-right: 5px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(34, 147, 218);
}
a:hover {
  text-decoration: none;
  color: rgb(20, 98, 146);
}

.form-control:focus {
  border-color: #5f65b2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(72, 74, 193, 0.6);
}